#folders

.vs/
.idea/
.vscode/
MineGame/Binaries/
MineGame/Intermediate/
MineGame/DerivedDataCache/
MineGame/Saved/
MineGame/Content/StartContent/
MineGame/ThirdParty/
MineGame/Build/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace
*.vsconfig
